
<% layout("/layout/boilerplate") %>
<div class="outer1">
    <div class="outer2">
        <div class="inner1">
            
            <b>no.of Adults&nbsp; &nbsp;  <%=guests%></b><br>
            <b>no.of infants&nbsp; &nbsp;  <%=infants%></b><br>
             <b>no.of pets&nbsp;&nbsp;&nbsp; &nbsp;  <%=pets%></b><br>
        </div>
    </div>
    
</div>